:root {
  --primary-color: #1992d4;
  --secondary-color: #ffffff;
}

.left {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 300px;
  height: 100%;
  overflow: hidden;
}

.right {
  background-color: #e2e8f0;
  width: calc(100vw - 300px);
  height: 100%;
  color: black;
}

#navbar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  /* align-items: center; Uncomment if centering is needed */
  /* justify-content: center; Uncomment if centering is needed */
}
#navbar a {
  text-decoration: none;
  color: var(--secondary-color);
}
.nav-top {
  height: 100px;
  width: 100%;
}

.nav-mid {
  padding-left: 14px;
  height: 350px;
  width: 100%;
  overflow: hidden; /* Uncomment if necessary */
}

.ri-dashboard-fill {
  font-size: 65px;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
}

.dashboard h1 {
  font-size: 30px;
}

.nav-element {
  display: flex;
  font-weight: 700;
  cursor: pointer;
  margin-left: 14px;
  align-items: center;
  /* justify-content: center; */
  width: 50%;
  height: 30px; /* Increased height to avoid overflow */
  margin-top: 20px; /* Reduced margin */
  align-items: center;
  font-size: 20px; /* Adjusted font-size for better fit */
}

.nav-element:hover {
  transform: scale(1.1);
}
.nav-element p {
  margin-left: 8px;
}

.nav-bottom {
  height: 200px;
  display: flex;
  flex-direction: column;
}
.nav-bottom-element {
  display: flex;
  font-weight: 700;
  cursor: pointer;

  width: 80%;
  height: 30px; /* Increased height to avoid overflow */
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 20px; /* Reduced margin */
  align-items: center;
  font-size: 20px;
  position: relative;
}
.nav-bottom-element:hover {
  transform: scale(1.1);
}
.nav-bottom-element p:active {
  color: rgb(230, 1, 1);
}

.nav-bottom-element p {
  margin-left: 8px;
}
